.margin-top40{margin-top:40px;}
.color666{color:#666;}
.link{height:34px;margin-top:10px;}
.margin-bottom8{margin-bottom:8px;}
dl{line-height:22px;margin:4px 32px 40px 50px;}
dt{color:#666;font-size:14px;}
.icon1{margin-top:6px;float:left;width:46px;height:39px;margin-right:18px;background: white url("http://mat1.gtimg.com/app/opent/images/websites/nav.gif") no-repeat;background-position:-88px -271px;}
.icon2{margin-top:6px;float:left;width:47px;height:34px;margin-right:18px;background: white url("http://mat1.gtimg.com/app/opent/images/websites/nav.gif") no-repeat;background-position:-139px -273px;}
.icon3{margin-top:6px;float:left;width:47px;height:39px;margin-right:18px;background: white url("http://mat1.gtimg.com/app/opent/images/websites/nav.gif") no-repeat;background-position:-137px -314px;}
dd{color:#999;}
dd a:hover{color:blue;}
.good{margin-left:46px;margin-bottom:14px;}
.left50{margin-left:50px;line-height:22px;}
.appsArea2 p a{float:left;background:white url("http://mat1.gtimg.com/app/opent/images/websites/read/preview.png") no-repeat;background-position: 0 0;width:463px;height:525px;}
.right{}
.right i{display:inline-block;width:120px;height:2px;background:#98b8d1;line-height:18px;vertical-align:middle;}
.right span{color:#999;vertical-align:middle;margin-left:2px;line-height:18px;}
.margin-top16{margin-top:14px;}
.margin-top25{margin-top:25px;}
.margin-top60{margin-top:60px;}
.margin-top137{margin-top:137px;}
