.margin-top40{margin-top:40px;}
.icon_new{width:15px;height:15px;margin-left:3px;display:inline-block;background:url("http://mat1.gtimg.com/app/opent/images/wiki/resource/new.gif") no-repeat;position:absolute;left:106px;top:16px;}
.color666{color:#666;}
.link{height:34px;margin-top:10px;}
.margin-bottom8{margin-bottom:8px;}
.intro{line-height:22px;margin:4px 32px 40px 50px;}
dt{color:#666;font-size:14px;line-height:22px;}
.icon1{margin-top:6px;float:left;width:46px;height:39px;margin-right:18px;background: white url("http://mat1.gtimg.com/app/opent/images/websites/nav.gif") no-repeat;background-position:-88px -271px;}
.icon2{margin-top:6px;float:left;width:47px;height:34px;margin-right:18px;background: white url("http://mat1.gtimg.com/app/opent/images/websites/nav.gif") no-repeat;background-position:-139px -273px;}
.icon3{margin-top:6px;float:left;width:47px;height:39px;margin-right:18px;background: white url("http://mat1.gtimg.com/app/opent/images/websites/nav.gif") no-repeat;background-position:-137px -314px;}
.left50{margin-left:50px;line-height:22px;}
dd{color:#999;}
dd a:hover{color:blue;}
.good{margin-left:46px;margin-bottom:14px;}
.appsArea2 div a{float:left;background:white url("http://mat1.gtimg.com/app/opent/images/websites/read/preview.png") no-repeat;background-position: 0 0;width:463px;height:525px;}
.right{}
.right i{display:inline-block;width:120px;height:2px;background:#98b8d1;vertical-align:middle;font-size:0;}
.right span{color:#999;vertical-align:middle;margin-left:2px;line-height:18px;}
.margin-top16{position:absolute;top:5px;top:6px\9;_top:12px;left:462px;_left:0;}
.margin-top25{position:absolute;top:51px;top:52px\9;_top:58px;left:462px;_left:0;}
.margin-top60{position:absolute;top:132px;top:133px\9;_top:139px;left:462px;_left:0;}
.margin-top137{position:absolute;top:290px;top:291px\9;_top:297px;left:461px;_left:0;}
